// font-family: 'Carter One', cursive; font-family: 'Great Vibes', cursive; font-family: 'Oleo Script', cursive;font-family: 'Trade Winds', cursive;
$colores:
white,
red,
black,
blue;


$alinear:
center,
start,
end;

$dedos: 
66px,
35px;


